.env
secrets/
letsencrypt/
data/
.backups/
backups/
__pycache__/
*.pyc
*.bak
.venv/
node_modules/
*.log
z_*
vm/output/
*.vhdx
*.qcow2
seed*.iso
*.tf-generated.ini
.terraform/
*.tfstate
*.tfstate.backup
*.ps1
!vm/scripts/*.ps1
*_token.json
*generate_structure.*
.pytest_cache
*.md
!CHANGELOG.md
!README*.md
!LICENSE.md
!BLUEPRINT*.md